<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extract Ion Chromatogram</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/AssetsBS3/img/favicon.ico">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/AssetsBS3/examples/jumbotron.css" rel="stylesheet">
    <!--[if lt IE 9]><script src=~/Scripts/AssetsBS3/ie8-responsive-file-warning.js></script><![endif]-->
    <script src="/Scripts/AssetsBS3/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]><script src=https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js></script><script src=https://oss.maxcdn.com/respond/1.4.2/respond.min.js></script><![endif]-->
    <style type="text/css" id="parrottalks-notetaker-style">
        html > body.evernote_clearly__before_visible #parrottalks-notetaker >
        iframe,      html > body.clearlyBeforeVisible #parrottalks-notetaker >
        iframe:not(#evernoteGlobalTools):not(#evernoteOptionsPage):not(#evernoteClearlyArticle)
        {        visibility: visible !important;      }
        .evernote_clearly__before_visible #evernote_clearly__reformat,
        .clearlyBeforeVisible #evernoteClearlyArticle
        {        z-index: 2147483646 !important;      }
    </style>

</head>
<body>
<div style="text-align:center">
    <h1>Extract Ion Chromatogram</h1>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('extract_Ion_Chromatogram', filename=filename) }}">
      <dl>
          {{ render_field(form.spectrum_ms_level) }}
          {{ render_field(form.mz2find ) }}
      </dl>
      <p><input type=submit value="Extract Ion Chromatogram">
    </form>




    {% if diction %}
        <p>{{ diction }}</p>
    {% endif %}

</div>
</body>

</html>