<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Original XML Tree</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/AssetsBS3/img/favicon.ico">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/AssetsBS3/examples/jumbotron.css" rel="stylesheet">
    <!--[if lt IE 9]><script src=~/Scripts/AssetsBS3/ie8-responsive-file-warning.js></script><![endif]-->
    <script src="/Scripts/AssetsBS3/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]><script src=https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js></script><script src=https://oss.maxcdn.com/respond/1.4.2/respond.min.js></script><![endif]-->
    <style type="text/css" id="parrottalks-notetaker-style">
        html > body.evernote_clearly__before_visible #parrottalks-notetaker >
        iframe,      html > body.clearlyBeforeVisible #parrottalks-notetaker >
        iframe:not(#evernoteGlobalTools):not(#evernoteOptionsPage):not(#evernoteClearlyArticle)
        {        visibility: visible !important;      }
        .evernote_clearly__before_visible #evernote_clearly__reformat,
        .clearlyBeforeVisible #evernoteClearlyArticle
        {        z-index: 2147483646 !important;      }
    </style>
</head>
<body>
<div class="col-md-12">
    <h1>The Original XML Tree of a Spectrum</h1>
    {% for element in spectrum_xmlTree %}
        <p>
            -----------------------------------------------------------------------------------------------------------------<br />
            {{ element }}<br />
            {{ element.get('accession') }}<br />
            {{ element.tag }}<br />
            {{ element.items() }}<br />
        </p>
    {% endfor %}
</div>
</body>
</html>