<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finding A Peak</title>
</head>
<body>
<h1>Peak Finding</h1>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('peak_finding', filename=filename) }}">
      <dl>
          {{ render_field(form.spectrum_ms_level) }}
          {{ render_field(form.mz_value ) }}
      </dl>
      <p><input type=submit value="Find Peaks">
    </form>

    {% if lst %}
        <p>{{ lst }}</p>
    {% endif %}


</body>
</html>